@charset "UTF-8";

body{
    background-color: rgb(179, 212, 179);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(29, 141, 57);
}

h1#principal{
    text-align: center;
    background-color: white;
    color: black;
}

h2{
    color: rgb(39, 92, 39);
}

.basico{
    color: rgb(43, 92, 43) ;
    font-weight: bold;
}

.intermediario{
    color: rgb(163, 163, 50);
}

.avançado{
    color: rgb(155, 53, 53);
}

.destaque{
    background-color: rgba(201, 201, 116, 0.658);
}